<div class="ui centered page grid">
  <div class="twelve wide column">
     
    <h3 class="ui header">Resend confirmation instructions</h3>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => "ui form segment" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
