<div class="ui page grid">
  <div class="ui sixteen wide column">
    <h2 class="ui header">Bets Index</h2>
    <h4 class="ui header">Initiated Bets
      <div class="sub header">Count: <%= initiated_bets.count %></div></h4>
    <div class="ui relaxed list">
      <% @initiated_bets.each do |bet| %>
        <div class="ui raised segment">
          <div class="item">
            <a href="/bets/<%= bet.id %>">Bet # <%= bet.id %></a><br />
            Bet Status: <%= bet.status %><br />
            Bet Amount: $ <%= bet.amount %><br />
            <% if bet.game.margin.nil? %>
              <%= display_matchup(bet.game) %><br />
              <%= format_date(bet.game.date) %> at <%= bet.game.time %><br />
            <% else %>
              <%= bet.game.home_team %>: <%= bet.game.home_final_score %><br />
              <%= bet.game.away_team %>: <%= bet.game.away_final_score %><br />
              Margin of victory: <%= bet.game.margin %><br />
            <% end %>
            <%= image_tag(user_avatar_url(bet.initiating_user), :class => "ui avatar image") %>
            <%= bet.initiating_user.username %>'s Pick: <%= bet.team %> <%= bet.points %> points<br />      
            <%= image_tag(user_avatar_url(bet.receiving_user), :class => "ui avatar image") %>
            <%= bet.receiving_user.username %>'s pick: <%= bet.receiving_user_team %> <%= bet.receiving_user_points %> points
            <% if bet.game.margin.nil? %> 
              Game results are pending<br />
            <% else %>
              <%= bet.winner_of_bet.username %> wins the bet!
            <% end %>      
          </div>
        </div>
      <% end %>
    </div>
    <h4 class="ui header">Received Bets <div class="sub header">Count: <%= @received_bets.count %></div></h4>
    <div class="ui relaxed list">
      <% @received_bets.each do |bet| %>
        <div class="ui raised segment">
          <div class="item">
            <a href="/bets/<%= bet.id %>">Bet # <%= bet.id %></a><br />
            Bet Status: <%= bet.status %> <br />
            Bet Amount: $ <%= bet.amount %><br />
            <% if bet.game.margin.nil? %>
              <%= display_matchup(bet.game) %>
              <%= format_date(bet.game.date) %> at <%= bet.game.time %>
            <% else %>
              <p><%= bet.game.home_team %> Score: <%= bet.game.home_final_score %><br />
                <%= bet.game.away_team %> Score: <%= bet.game.away_final_score %><br />
                Margin of Victory: <%= bet.game.margin %> points
              </p>
            <% end %>
            <br />
            <%= image_tag(user_avatar_url(bet.initiating_user), :class => "ui avatar image") %>
            <%= bet.initiating_user.username %>'s Pick: <%= bet.team %> <%= bet.points %> points<br />      
            <%= image_tag(user_avatar_url(bet.receiving_user), :class => "ui avatar image") %>
            <%= bet.receiving_user.username %>'s pick: <%= bet.receiving_user_team %> <%= bet.receiving_user_points %> points<br />
            <% if bet.game.margin.nil? %>
              Game results are pending<br />
            <% else %>
              <%= bet.winner_of_bet.username %> wins the bet!
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>