<div class="ui padded grid">
  <div class="sixteen wide column">
    <h2 class="ui header">Bet History</h2>
    <h4 class="ui header">Initiated Bets:
      <div class="sub header">Count: <%= @initiated_bets.count %></div></h4>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Matchup</th>
          <th>Initiating User Pick</th>
          <th>Receiving User Pick</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tbody>
        <% @initiated_bets.each do |bet| %>
          <tr>
            <td><a href="/bets/<%= bet.id %>"><%= bet.id %></a></td>
            <td>
              <% if bet.game.margin.nil? %>
                <%= bet.game.away_team %> at <%= bet.game.home_team %></a>
                </td>
              <% else %>
                <%= bet.game.away_team %>: <%= bet.game.away_final_score %>,
                <%= bet.game.home_team %>: <%= bet.game.home_final_score %>
              <% end %>
            </td>
            <td>
              <%= bet.initiating_user.username %>:
               <%= bet.team %> <%= bet.points %> points
            </td>
            <td>
              <%= bet.receiving_user.username %>:
               <%= bet.receiving_user_team %> <%= bet.receiving_user_points %> points
            </td>
            <td>$ <%= bet.amount %></td>
            <td><%= bet.status.capitalize %></td>
            <td>
              <% if bet.game.margin.nil? %>
                Pending
              <% else %>
                <%= bet.winner_of_bet.username %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="sixteen wide column">
    <h4 class="ui header">Received Bets: <div class="sub header">Count: <%= @received_bets.count %></div></h4>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Matchup</th>
          <th>Initiating User Pick</th>
          <th>Receiving User Pick</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tbody>
        <% @received_bets.each do |bet| %>
          <tr>
            <td><a href="/bets/<%= bet.id %>"><%= bet.id %></a></td>
            <td>
              <% if bet.game.margin.nil? %>
                <%= bet.game.away_team %> at <%= bet.game.home_team %></td>
              <% else %>
                <%= bet.game.away_team %>: <%= bet.game.away_final_score %>,
                <%= bet.game.home_team %>: <%= bet.game.home_final_score %>
              <% end %>
            </td>
            <td>
              <%= bet.initiating_user.username %>:
               <%= bet.team %> <%= bet.points %> points
            </td>
            <td>
              <%= bet.receiving_user.username %>:
               <%= bet.receiving_user_team %> <%= bet.receiving_user_points %> points
            </td>
            <td>$ <%= bet.amount %></td>
            <td><%= bet.status.capitalize %></td>
            <td>
              <% if bet.game.margin.nil? %>
                Pending
              <% else %>
                <%= bet.winner_of_bet.username %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>