<% provide(:title, "Review Bets") %>
<div class="ui centered padded page grid">
  <div class="sixteen wide column">
    <h3 class="ui header">Received Bets- Pending Response 
    <div class="sub header">Current Count: <%= @bets_to_review.count %></div></h3>
  </div>
  <div class="twelve wide column">
    <div class="ui relaxed list">

      <% @bets_to_review.each do |bet| %>

        <div class="item">
          <div class="ui segment">
            <h4 class="ui left aligned header">Bet Opponent:
              <img class="ui avatar image" src="<%= user_avatar_url(bet.initiating_user) %>">
              <%= bet.initiating_user.username %>
            </h4>
            <h5 class="ui center aligned header"><%= bet.game.away_team.name %> at <%= bet.game.home_team.name %>
              <div class="sub header">
                <%= format_date(bet.game.date) %> at <%= bet.game.time %>
              </div>
            </h5>
            <h4 class="ui header">Bet Amount: $ <%= bet.amount %></h4>
            <div class="ui two column vertically padded grid">
              <div class="center aligned column">
                <%= image_tag(user_avatar_url(bet.initiating_user), :class => "ui avatar image") %>
                <%= bet.initiating_user.username %>'s Pick: 
                <%= bet.team.name %> <%= bet.points %> points
              </div>
              <div class="center aligned column">
                <%= image_tag(user_avatar_url(bet.receiving_user), :class => "ui avatar image") %>
                Your Pick: <%= bet.receivers_team.name %> <%= bet.receiving_user_points %> points
              </div>
            </div>

            <form name="bet_review" action="/bets/<%= bet.id %>" method="post" class="ui form">
              <input type="hidden" name="_method" value="put">
              <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

              <div class="field">
                <select name="bet[status]">
                  <option value="accepted">Accept Bet</option>
                  <option value="rejected">Reject Bet</option>
                </select>
              </div>
                <input type="submit" value="Submit"class="ui blue button"></input>
            </form>

          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
