<% provide(:title, "Bet #{@bet.id}") %>

<div class="ui centered padded page grid">
  <div class="fourteen wide column">
    <div class="ui raised segment">
      <h3 class="ui header"> Bet # <%= @bet.id %></h3>
      <%= @bet.receiving_user.username %> vs <%= @bet.initiating_user.username %><br />
      Bet Status: <%= @bet.status.capitalize %><br />
      Bet Amount: $ <%= @bet.amount %><br />

      <% if @bet.game.margin.nil? %>
        <h5 class="ui centered header"><%= @bet.game.home_team.name %> at <%= @bet.game.away_team.name %>
          <div class="sub header"><%= format_date(@bet.game.date) %> at <%= @bet.game.time %></div>
        </h5>
      <% else %>
        <div class="ui segment">
          <div class="ui two column grid">
            <div class="center aligned column">
              <div class="ui horizontal segment">
                <%= @bet.game.away_team.name %>
              </div>
              <div class="ui horizontal segment">
                <%= @bet.game.away_final_score %>
              </div>
            </div>
            <div class="center aligned column">
              <div class="ui horizontal segment">
                <%= @bet.game.home_team.name %>
              </div>
              <div class="ui horizontal segment">
                <%= @bet.game.home_final_score %>
              </div>
            </div>
          </div>
        </div>
        Margin of Victory: <%= @bet.game.margin %> 
      <% end %>
        <div class="ui two column vertically padded grid">
          <div class="center aligned column">
            <%= image_tag(user_avatar_url(@bet.initiating_user), :class => "ui avatar image") %>
            <%= @bet.initiating_user.username %>'s Pick: <%= @bet.team.name %> <%= @bet.points %> points
          </div>
          <div class="center aligned column">
            <%= image_tag(user_avatar_url(@bet.receiving_user), :class => "ui avatar image") %>
            <%= @bet.receiving_user.username %>'s pick: <%= @bet.receiving_user_team.name %> <%= @bet.receiving_user_points %> points
          </div>
        </div>
      <% if @bet.game.margin.nil? %>
        Winner pending!<br />
      <% else %>
        <%= @bet.winner_of_bet.username %> wins the bet!
      <% end %>
    </div>
  </div>
  <div class="fourteen wide column">
    <div class="ui raised segment">
      <h4 class="ui header">Comments</h4>
      <div class="ui relaxed list">
        <% @bet.comments.each do |comment| %>
          <div class="item">
            <%= comment.user.username %>: <%= comment.content %>
          </div>
        <% end %>
      </div>
      <div class="ui raised segment">
        <%= render partial: "shared/comment", locals: {bet: @bet} %>
      </div>
    </div>
  </div>
</div>
