<h1> Bet # <%= bet.id %></h1>

<h2> Matchup: <%= bet.game.away_team %> at <%= bet.game.home_team %>
Date: <%= bet.game.date %> at <%= bet.game.time %>
Bet Status: <%= bet.status %><br />
Bet Amount: <%= bet.amount %><br />
