<% provide(:title, "Edit Account") %>

<div class="ui centered page grid">
  <div class="fourteen wide column">
    <h1 class="ui header">Update Account </h1>

    <%= form_for(@user, :html => { :class => "ui raised form segment"} ) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", :class => "ui blue button" %>
    <% end %>

    <a href="/images/new">Add image</a>

  </div>
</div>