<% provide(:title, 'Games Index') %>

<div class="ui padded page grid">
  <div class="sixteen wide column">
    <div class="ui tabular menu active">
      <div class="item" data-tab="nfl-games">NFL Games</div>
      <div class="item" data-tab="ncaaf-games">NCAA Football Games</div>
    </div>
    <div class="ui tab active" data-tab="nfl-games">
      <script>$('.tabular.menu .item').tab();</script>
      <table class="ui single line table">
        <thead>
          <tr>
            <th>Matchup</th>
            <th>Date</th>
            <th>Make Bet</th>
          </tr>
        </thead>
        <tbody>
          <% @nfl_games.each do |game| %>
            <tr>
              <td><a href="/games/<%= game.id %>"><%= game.away_team.name %> at <%= game.home_team.name %></a></td>
              <td><%= game.date.strftime('%m/%d/%y') %> <%= game.time %></td>
              <td>
                <div class="ui floating dropdown labeled search icon button">
                  <i class="search icon"></i>
                  <span class="text">Select Receiving User</span>
                  <div class="menu">
                    <div class="header">
                      <i class="dollar icon"></i>
                      Make a bet
                    </div>
                    <div class="divider"></div>
                    <% @users.each do |user| %>
                      <% if user.id == current_user.id %>
                      <% else %>
                        <div class="item">
                          <a href="/users/<%= user.id %>/games/<%= game.id %>/bets/new"> <%= image_tag(user_avatar_url(user), :class => "ui avatar image") %> <%= user.username %></a>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          <script type="text/javascript">
            $(document)
              .ready(function(){
                $('.ui.labeled.icon.button')
                  .dropdown()
                ;
              })
            ;
          </script>
        </tbody>
      </table>
    </div>
    <div class="ui tab" data-tab="ncaaf-games">
      <script>$('.tabular.menu .item').tab();</script>
      <table class="ui single line table">
        <thead>
          <tr>
            <th>Matchup</th>
            <th>Date</th>
            <th>Make Bet</th>
          </tr>
        </thead>
        <tbody>
          <% @ncaaf_games.each do |game| %>
            <tr>
              <td><a href="/games/<%= game.id %>"><%= game.away_team.name %> at <%= game.home_team.name %></a></td>
              <td><%= game.date.strftime('%m/%d/%y') %> <%= game.time %></td>
              <td>
                <div class="ui floating dropdown labeled search icon button">
                  <i class="search icon"></i>
                  <span class="text">Select Receiving User</span>
                  <div class="menu">
                    <div class="header">
                      <i class="dollar icon"></i>
                      Make a bet
                    </div>
                    <div class="divider"></div>
                    <% @users.each do |user| %>
                      <% if user.id == current_user.id %>
                      <% else %>
                        <div class="item">
                          <a href="/users/<%= user.id %>/games/<%= game.id %>/bets/new"> <%= image_tag(user_avatar_url(user), :class => "ui avatar image") %> <%= user.username %></a>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          <script type="text/javascript">
            $(document)
              .ready(function(){
                $('.ui.labeled.icon.button')
                  .dropdown()
                ;
              })
            ;
          </script>
        </tbody>
      </table>
    </div>
  </div>
</div>
