<h1 class="ui header"> Game View </h1>
<div class="ui raised segment">
  <%= @game.away_team %> at <%= @game.home_team %>
  <%= @game.date %> at <%= @game.time %>

  Away: <%= @game.away_team %> : <%= @game.away_final_score %>

  Home <%= @game.home_team %> : <%= @game.home_final_score %>
</div>