<h1> Game View </h1>

<h2> <%= @game.away_team %> at <%= @game.home_team %></h2>
<h3><%= @game.date %> at <%= @game.time %></h3>
<h3> Final Score:</h3>
<h2><%= @game.away_team %> : <%= @game.away_final_score %></h2>

<h2><%= @game.home_team %> : <%= @game.home_final_score %></h2>

